In [73]:
from youtube_transcript_api import YouTubeTranscriptApi as ytt
import pandas as pd
import numpy as np
import scrapetube
from datetime import datetime, timedelta

In [74]:
yt_news_df = pd.DataFrame(columns=['video_id', 'title', 'source', 'description', 'text'])

In [75]:
channel_ids = {
    'ABC News': 'UCBi2mrWuNuyYy4gbM6fU18Q',
    'CNN': 'UC8p1vwvWtl6T73JiExfWs1g',
    'BBC News': 'UC16niRr50-MSBwiO3YDb3RA',
    'Fox News': 'UCXIJgqnII2ZOINSWNOGFThA'
}

In [76]:
def text_from_transcript(transcript):
    txt = ''
    for entry in transcript:
        txt += entry['text'] + ' '
    return txt

In [77]:
for channel_name, channel_id in channel_ids.items():
    print(f'Scraping {channel_name}')

    videos = scrapetube.get_channel(channel_id, sort_by='newest')

    for vid in videos:
        vids_scraped = 0
        failures = 0

        vid_id = vid['videoId']

        try:
            vid_transcript = ytt.get_transcript(vid_id)
        except:
            failures += 1
            continue

        vid_text = text_from_transcript(vid_transcript)
        vid_title = vid['title']['runs'][0]['text']
        vid_description = vid['descriptionSnippet']['runs'][0]['text']

        vid_dict = {
            'video_id': vid_id,
            'title': vid_title,
            'text': vid_text,
            'source': channel_name,
            'description': vid_description
        }

        yt_news_df = pd.concat([yt_news_df, pd.DataFrame([vid_dict])], ignore_index=True)

        vids_scraped += 1

    print(f'Videos Scraped: {vids_scraped}\nScrapes Failed: {failures}\n')

Scraping ABC News

In [ ]:
yt_news_df

,video_id,title,date,source,description,text
0,fMXirbkZoI0,What to watch for during Monday's Iowa caucuses,2024-01-15 17:18:34.650394,ABC News,ABC News’ Rick Klein breaking down the most im...,if you're sick as a dog you say darling I got ...
1,prp-XvTiFq4,"""Miracle on the Hudson"" survivor on 15 years s...",2024-01-15 16:56:36.902178,CNN,"Fifteen years ago, U.S. Airways pilot Chesley ...",HAVE TO WAIT UNTIL SUNDAY BEFORE WE MAKE IT...
2,7WuIh9opEgU,Iceland volcano: Lava flows destroy homes foll...,2024-01-15 14:56:39.685860,BBC News,Lava flows have destroyed several homes follow...,now lava from a volcano in Southwestern Icelan...
3,FXssogMaR34,Former Obama aides raise concerns over Biden's...,2024-01-15 17:45:42.767939,Fox News,Fox News’ Mark Meredith reports on tensions wi...,>> John: AS REPUBLICANS BATTLE IT OUT IN IOWA...